doctype html
html(lang='en')
  head
    title 수행평가결과
    meta=(charset="utf-8")
    link(rel='stylesheet' type ='text/css' href='/css/header.style.css')
    link(rel='stylesheet' type ='text/css' href='/css/listening_set.style.css')
    script(src="//code.jquery.com/jquery-1.12.3.js")
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(src='//code.jquery.com/jquery.min.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')

    //graph
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/Chart.min.js"></script>
    <script type="text/javascript" src="javascript/Chart.StackedBar.js"></script>


    //validate 기본
    script(src ="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js")
    script(src ="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js")
    //validate 외부 addMethod가져오기
    script(src ="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js")

    //select 테그 꾸며주는 bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")

    //bootstrap
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    //datatables
    script(src= "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type ='text/css' href='https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css')

    link(href="/multi-select/css/multi-select.css" rel="stylesheet" type="text/css")
    script(src="/multi-select/js/jquery.multi-select.js")

    style.
      #textarea {border-radius: 5%}

  body
    include ./header.jade

    #main(style='margin:0 auto; width: 80%')
      h2(id='h2') 수행평가 가정 통지표

      h4(style='float:right') 이름:
        = student_name
      p

      div
        .form-group
        textarea#textarea.form-control(rows='5')


      p
      p
      p
      p
      -var allSum = 0;
      -var perSum = 0;
      table(style='width:100%;border:3px black solid;')#subject_table
        each valAll, indexAll in standard_all
          if(valAll.score == 'EXCELLENT')
            -allSum = allSum + 10;
          if(valAll.score == 'GREAT')
            -allSum = allSum + 9;
          if(valAll.score == 'GOOD')
            -allSum = allSum + 8;
          if(valAll.score == 'BAD')
            -allSum = allSum + 6;

        each per1, indexPer1 in standard_per_stu
          if(per1.score == 'EXCELLENT')
            -perSum = perSum + 10;
          if(per1.score == 'GREAT')
            -perSum = perSum + 9;
          if(per1.score == 'GOOD')
            -perSum = perSum + 8;
          if(per1.score == 'BAD')
            -perSum = perSum + 6;

        tr(style='height:210px;border-style:hidden;' )
          td(style='text-align:center')
            canvas#canvas(height='250', width='250')

        tr(style='border-style:hidden')
          th(style='text-align:center;') [영어]


      p

      table(style='width:100%;border:3px black solid')#contents_table
        tr(style='border:3px black solid')
          th(style='text-align:center;' colspan='4') 종합결과
        tr(style='border:1px black solid')
          th(style='text-align:center;border:1px black solid; background-color:#FFEBF0') 매우우수
          th(style='text-align:center;border:1px black solid; background-color:#00FF99') 우수
          th(style='text-align:center;border:1px black solid;background-color:#99CCFF') 보통
          th(style='text-align:center;border:1px black solid; background-color:#FFFFCC') 미흡
        tr(style='border:1px black solid')
          th(style='text-align:center;border:1px black solid;')
            if (((perSum/(standard_per_stu.length*10))*100).toFixed(1) >= 90)
              span O
          th(style='text-align:center;border:1px black solid;')
            if (((perSum/(standard_per_stu.length*10))*100).toFixed(1) <= 89 && ((perSum/(standard_per_stu.length*10))*100).toFixed(1) >= 80)
              span O
          th(style='text-align:center;border:1px black solid;')
            if (((perSum/(standard_per_stu.length*10))*100).toFixed(1) <= 79 && ((perSum/(standard_per_stu.length*10))*100).toFixed(1) >= 70)
              span O
          th(style='text-align:center;border:1px black solid;')
            if (((perSum/(standard_per_stu.length*10))*100).toFixed(1) <= 69)
              span O
        tr(style='border:1px black solid')
          td(style='height:150px;border:1px black solid;')
            textarea(style='width:100%; height:100%;border:none;')
              | 수행평가의 각 영역에 대한 성적이 매우 우수하며 인지,정의 영역의 능력과 성취의욕이 매우 높음.
          td(style='border:1px black solid;')
            textarea(style='width:100%; height:100%;border:none;')
              | 수행평가의 각 영역에 대한 성적이 우수하며, 인지 및 정의적 능력이 바르게 정착됨.
          td(style='border:1px black solid;')
            textarea(style='width:100%; height:100%;border:none;')
              | 수행평가의 각 영역에 대한 성적이 양호하나 꾸준히 노력하고 문제의 핵심파악하는 능력이 요구됨.
          td(style='border:1px black solid;')
            textarea(style='width:100%; height:100%;border:none;')
              | 기초학력 부족으로 수행평가의 각 영역에 대한 성적이 부진하며 기초학력향상과 지속적인 노력이 필요함.

      p
      h3 ※ 의견란
      p
        table(style='width:100%')#opinion_table
          tr(style='background-color:#FFFF99;border:1px black solid')
            th(style='text-align:center;border:3px black solid') 담임
            th(style='text-align:center;border:3px black solid') 학부모
          tr(style='border:3px black solid')
            td(style='height:100px;border:3px black solid')
              textarea(style='width:100%; height:100%;border:none;')
            td(style='border:3px black solid')
              textarea(style='width:100%; height:100%;border:none;')

    script(type='text/javascript').
      var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
      var all = function(){return ((parseInt(#{allSum})/(parseInt(#{standard_all.length})*10))*100).toFixed(1)};
      var per_stu = function(){return ((parseInt(#{perSum})/(parseInt(#{standard_per_stu.length})*10))*100).toFixed(1)};
      //alert('all '+ all() + 'per_stu '+per_stu())

      var barChart = null;
      var barChartData = {
      labels : ['평균(Red)/학생(Blue)'],
      datasets : [
      {
      fillColor : "rgba(255,051,051,0.5)",
      strokeColor : "rgba(255,051,051,0.8)",
      highlightFill: "rgba(255,051,051,0.75)",
      highlightStroke: "rgba(255,051,051,1)",
      data : [all()]
      },
      {
      fillColor : "rgba(000,153,255,0.5)",
      strokeColor : "rgba(000,153,255,0.8)",
      highlightFill : "rgba(000,153,255,0.75)",
      highlightStroke : "rgba(000,153,255,1)",
      data : [per_stu()]
      }
      ]
      };
      $(function() {
      var ctx = document.getElementById("canvas").getContext("2d");
      barChart = new Chart(ctx).Bar(barChartData, {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleOverride : true,
      scaleSteps : 10,
      scaleStepWidth : 10,
      scaleStartValue : 0,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines : true,
      //String - Colour of the grid lines
      scaleGridLineColor : "rgba(0,0,0,0.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth : 1,
      //Boolean - If there is a stroke on each bar
      barShowStroke : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing : 5,
      onAnimationProgress: function() {
      console.log("onAnimationProgress");
      },
      onAnimationComplete: function() {
      console.log("onAnimationComplete");
      }
      });
      });
      $("input#btnAdd").on("click", function() {
      barChart.addData(
      [randomScalingFactor(),randomScalingFactor(),randomScalingFactor()],
      months[(barChart.datasets[0].bars.length)%12]
      );
      });
      $("canvas").on("click", function(e) {
      var activeBars = barChart.getBarsAtEvent(e);
      console.log(activeBars);
      for(var i in activeBars) {
      console.log(activeBars[i].value);
      }
      });
